<div class="container">
  <div class="row mt-2">
    <div class="alert alert-danger col-sm-6 mb-0" role="alert">
      <h3><a routerLink="/attack-faction/red">Red Team</a></h3>
    </div>
    <div class="alert alert-success col-sm-6 mb-0" role="alert">
      <h3><a routerLink="/attack-faction/green">Green Team</a></h3>
    </div>
    <div class="alert alert-info col-sm-6 mb-0" role="alert">
      <h3><a routerLink="/attack-faction/blue">Blue Team</a></h3>
    </div>
    <div class="alert alert-warning col-sm-6 mb-0" role="alert">
      <h3><a routerLink="/attack-faction/orange">Orange Team</a></h3>
    </div>
  </div>
</div>
