<nav class="navbar navbar-expand-lg navbar-light mt-1" style="background-color: #e0e0e0;">
  <a class="navbar-brand" routerLink="/">Routing Exercise</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/attack">Attack menu</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" *ngIf="isLoggedIn;else notLoggedIn">
      <button class="btn btn-info mr-2" (click)="initLogout($event)">Logout {{username}}</button>
    </form>
  </div>
</nav>

<ng-template #notLoggedIn>
  <a class="btn btn-success mr-2" routerLink="/register">Register</a>
  <a class="btn btn-info" routerLink="/login">Login</a>
</ng-template>
